{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card shadow">

                <div class="card-header text-white text-center"
                     style="background: linear-gradient(90deg,#0b4f8a,#663399);">

                    <h4>
                        Password Changed Successfully
                    </h4>

                </div>


                <div class="card-body text-center p-4">

                    <div class="alert alert-success">

                        Your password has been successfully updated.

                    </div>


                    <p>
                        You can now login using your new password.
                    </p>


                    <a href="{% url 'member-login' %}"
                       class="btn btn-primary">

                        Login Now

                    </a>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}