{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <h1 class="text-primary mb-4">
        Contact Us
    </h1>

    <div class="card shadow">

        <div class="card-body">

            <h4>Mityana Pentecostal Church</h4>

            <p>

                Opposite Delta Petrol Station<br>
                Near DOCHUB Medical Centre<br>
                Mityana Town

            </p>

            <p>

                P.O. Box 40, Mityana

            </p>

            <p>

                <strong>Phone:</strong><br>

                +256 782 886 025<br>

                +256 705 339 495

            </p>

            <p>

                <strong>Email:</strong><br>

                mityanapentecostalchurchesofug@gmail.com

            </p>

        </div>

    </div>

</div>

{% endblock %}